/* @import url(https://fonts.googleapis.com/css?family=Raleway:400,500); */

.App {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.quote-box, .tags ul {
  margin: 0 auto;
  text-align: center;
  /* width: 80%; */
  width: auto;
}

.quote-box {
  background-color: #fff;
  border-radius: 3px;
  /* box-shadow: 5px 10px #888888; */
  filter: drop-shadow(0 0 30px #333);
  display: table;
  margin-top: 100px;
  padding: 40px 50px;
  position: relative;
  width: 450px;
}

.quote-box .quote-text {
  clear: both;
  font-weight: 500;
  font-size: 1.75em;
  height: auto;
  /* min-height: 220px; */
  text-align: center;
  width: 450px;
}

.quote-box .quote-text i::before {
  content: "\201C";
}

.quote-box .quote-text i {
  font-family: 'Raleway', sans-serif;
  font-size: 2.0em;
  /* margin-right: 0.4em; */
}

.quote-box .quote-author {
  width: 450px;
  height: auto;
  clear: both;
  padding-top: 20px;
  font-size: 1em;
  text-align: right;
}

.quote-box .buttons {
  width: 450px;
  margin: auto;
  display: block;
}

.quote-box .buttons .button {
  height: 38px;
  border: none;
  border-radius: 3px;
  color: #fff;
  /* background-color: #333; */
  outline: none;
  font-size: 0.85em;
  padding: 8px 18px 6px 18px;
  margin-top: 30px;
  opacity: 1;
  cursor: pointer;
}

.quote-box .buttons .button:hover {
  filter: drop-shadow(0 0 4px #333);
  opacity: 0.8;
}

.quote-box .buttons a.button {
  font-size: 1.2em;  
  float: left;
  height: 30px;
  margin-right: 5px;
  /* padding: 0px; */
  /* padding-top: 8px; */
  padding: 8px 5px;
  text-align: center;
  width: 40px;
}

.quote-box .buttons a.button img {
  display: block;
  height: auto;
  margin: 0;
  padding: 0;
  width: 100%;
}

.quote-box .buttons #tumblr-quote img {
  position: relative;
  top: -4px;
}

.quote-box .buttons .button#new-quote {
  float: right;
}




/* Tags */
.tags {
  clear: both;
  display: block;
  margin-top: 100px;
}

.tags ul {
  text-align: center;
  list-style: inside;
  width: 80%;
}

.tags li {
  float: left;
  display: inline-block;
}

.tags li a {
  background: #fff;
  display: block;
  margin: 10px;
  padding: 5px 10px;
}